<!DOCTYPE html>
<html>
<header>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
</header>
<body class="background-image" style="background-image:url('static/image/back.jpeg'); height: 220vh;background-size: cover;background-repeat: no-repeat;"></body>
{% extends 'bootstrap/base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<div class="container">
  <div class="col-md-4">
    <a href="{{url_for('main.index')}}">
        <button type="button" class="btn btn-primary btn-sm">
             <span class="glyphicon glyphicon-chevron-left"></span>back
        </button>
    </a>
  <div class="col-md-8">
    {{wtf.quick_form(registration_form)}}
    
  </div>
  </div>
</div> 
{%endblock%}
</body>
</html>