<!DOCTYPE html>
<html>

<header>
  <meta>
</header>
<body class="background-image" style="background-image:url('static/image/status.jpeg'); height: 100vh;background-size: cover;"></body>
{% extends 'base.html'%}
{% import 'macro.html' as macro %}

{% block styles%}
{{super() }}
<link href="https://fonts.googleapis.com/css?family=Akronim|Bellefair|joti+One" rel="stylesheet">
{% endblock %}
{% block content %}


 <div class="container" style="background-image:url('static/image/bac1.jpg');padding:20px; margin-top:0px; padding-top:40px; padding-bottom:400px;">
   <div class="row" style="text-align:center; font-size:30px;">
      <span style="font-size:60px; font-family: 'Akronim', cursive;color: rgb(226, 222, 222);">Personal Blogging</span>
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
      <div class="panel style=" style="border: 3px solid #f2f2f2; padding:20px; margin-top:10px;margin-left:10px;">
      
      <p style="font-family: 'Bellefair', serif; font-size: 30px;"> A free space to post your views on ongoing events and other things that you wish to share.</p>
     <div style="text-align:center;">
      <a href="{{url_for('main.new_blog')}}">
      <button style="font-size:30px;color:rgb(3, 77, 16);background-color:darkgoldenrod;"> CREATE A BLOG</button>
      </a>
      <br>
      <br>
      <br>
    <blockquote class="text-center text-lg">

      <p><i><b style="color:rgb(8, 33, 175)"> Quotes:</b>  {{quotes.quote}}</i></p>
      <br>
      <p> <b style="color:rgb(8, 33, 175)">Author:</b>     {{quotes.author}}</p>
    </blockquote>
    </div>
    </div>
    </div>

</hr>
    
<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
   <div class="all-blogs">
     <span style="color:chartreuse; font-size:40px;">ALL BLOGS ARE DISPALYED BELOW</span>
   <br>
   <br>
     {{macro.displayBlogs(blogs)}}
   </div>
</div>
</div>
{% endblock%}

</html>